<li>
    <div class="row">
        <div class="chip">
            <img src="./images/icon.png" alt="icon">
            {{name}}
        </div>
    </div>

    {{#each journals}}
    {{!-- <div class="row" >
        <h5>{{title}}</h5>
    </div> --}}
    <div class="row" style="border: 2px solid white">
        <div class="col s11 entryDescription">
            {{description}}
        </div>

        {{!-- <button class="edit-entry btn-small" data-id="{{this.id}}">EDIT/UPDATE</button> --}}
        <button class="delete-entry btn-small col s1" data-id="{{this.id}}"><i
                class="material-icons">cancel</i></button>

    </div>
    {{/each}}

</li>